html {
    padding: 0;
}
body {
    color: #fff;
    display: flex;
    background-color: #21232a;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    height: 90vh;
    max-height: 100vh;
}
h1 {
    text-align: center;
    border-bottom: 2px solid #fff;
}
h2 {
    color: #d8d8d8;
}
button {
    padding: 10px;
    font-size: 1.3rem;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgb(66, 219, 224);
    color: #21232a;
    transition: .2s background-color ease;

}
button:hover {
    background-color:rgb(26, 162, 167);
}